---
title: API Reference
layout: slate

language_tabs:
  - http
  - ruby

toc_footers:
  - <a href="https://app.gorilla.io/">Gorilla.io - Dashboard Login</a>
  - <a href="http://gorilla.io/">Gorilla.io - Homepage</a>
  - <a href='http://github.com/thinkmechanic/gorilla-api-docs'>See an error? Send a pull request.</a>

sections:
  - api/v1/01_introduction
  - api/v1/02_authentication
  - api/v1/03_errors
  - api/v1/04_account
  - api/v1/05_forms
  - api/v1/06_fields
  - api/v1/07_merges

versions:
  - :title: v1
    :path: '/api/v1'
    :active: true

search: false
---
