---
title: API Reference
layout: slate

language_tabs:
  - http
  - ruby

toc_footers:
  - <a href="https://app.gorilla.io/">Gorilla.io - Dashboard Login</a>
  - <a href="http://gorilla.io/">Gorilla.io - Homepage</a>
  - <a href='http://github.com/thinkmechanic/gorilla-api-docs'>See an error? Send a pull request.</a>

sections:
  - api/v1/introduction
  - api/v1/authentication
  - api/v1/errors
  - api/v1/account
  - api/v1/forms
  - api/v1/merges

versions:
  - :title: v1
    :path: '/api/v1'
    :active: true

search: false
---
